[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
pygresql = "*"
djangorestframework = "*"
django-filter = "*"
markdown = "*"
django-tables2 = "*"
factory-boy = "*"
django-debug-toolbar = "*"
django-extensions = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
