{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!--  Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <!-- <link rel="stylesheet" href= "{% static bootstrap.min.css %}"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <title>ebookstore</title>
    </head>
    <body>


        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><b><h1>EBOOKSTORE 📚</h1></b></a>
            <button class="navbar-toggler"
                type="button" 
                data-toggle="collapse" 
                data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <!-- Because of the django context processors we can access "request" variable thus able to perform 
                an if statement for the instance of django.http.HttpRequest  -->
                <li class="nav-item {% if request.path == "/" %}active{% endif %}">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item {% if request.path == "/about-us/" %}active{% endif %}">
                  <a class="nav-link" href="/about-us/">About us</a>
                </li>
              </ul>
            </div>
          </nav>

          {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}

        {% block content %}

        {% endblock content %}

        <script>
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js">
            // src="{% static jquery.min.js %}"
        </script>
        <script>
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
            // src="{% static popper.min.js %}"
        </script>
        <script>
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
            // src="{% static bootstrap.min.js %}"
        </script>
        {% block js %}
        
        {% endblock js %}
    </body>
</html>