{% extends "base.html" %}

{% block content %}
  <h2>Basket</h2>
  {% if formset %}
    <p>You can adjust the quantities below.</p>
      <form method="POST">
      
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
        <p>
          {{ form.instance.book.name }}
          {{ form }}
        </p>
      {% endfor %}
      <button type="submit" class="btn btn-­default">Update basket</button>

    </form>
  {% else %}
    <p>You have no items in the basket.</p>
  {% endif %}
{% endblock content %}
